<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <style>
        *{
            background-color:mediumseagreen;
            color:aliceblue;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .table{
            width: 50%;
            height: auto;
            border: 4px solid brown ;
            font-size: large;
            color:indigo;
        }

        
    </style>
    <h1>Welcome, {{session['first_name']}}!</h1>
    <a href="/logout">Logout</a>
    <p>All Paintings:</p>  
    <div class = 'table'>
        <table>
            <tr>
                <th>Title</th>
                <th>By:</th>
                <th>Actions</th>
            </tr>
    </div>        
            {% for painting in paintings %}
            <tr>
                <td>{{painting.title}}</td>
                <td>{{painting.user.firstname}} {{painting.user.lastname}}</td>
                <td>
                    <a href="/paintings/{{painting.id}}">Show</a>
                    {% if painting.user.id == session['user_id'] %}
                    <a href="/painting/{{painting.id}}/edit">Edit</a>
                    <a href="/painting/{{painting.id}}/delete">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    <a href ='/new/painting'>Add a Painting</a>
</body>
</html>