<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Painting</title>
</head>
<body>
    <style>
        *{
            background-color:mediumseagreen;
            color:aliceblue;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .table{
            width: 50%;
            height: auto;
            border: 4px solid brown ;
            font-size: large;
            color:indigo;
        }

        
    </style>
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
        <h1>Welcome, {{session['first_name']}}!</h1>
        <div class = 'table'>
            <table>
                <p><b>{{painting.title}}:<b></p>
                <tr>
                    <th>Painted By:</th>
                    <th>Description:</th>
                    <th>Price:</th>
                    
                </tr>
            
                <tr>
                    <td>{{painting.user.firstname}} {{painting.user.lastname}}</td>
                    <td>{{painting.description}}</td>
                    <td>{{painting.price}}</td>
                    <td>    
                    {% if painting.user.id == session['user_id'] %}
                    <a href="/painting/{{painting.id}}/edit">Edit</a>
                    <a href="/painting/{{painting.id}}/delete">Delete</a>
                    {% endif %}
                </td>
                </tr>
            </table>
        </div>
        <a href ='/new/painting'>Add a Painting</a>
</body>
</html>